.experience .timeline-section::after, .experience .timeline-section .timeline-pointer::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  background: #25dc46;
}

/* navbar */
.header {
  width: 100%;
  height: 130px;
  background: #fff;
  position: fixed;
  z-index: 998;
  top: 0;
}
.header .home {
  float: left;
  display: flex;
  height: 130px;
  align-items: center;
  cursor: default;
}
.header .home h1 {
  font-size: 20px;
}
.header .menu {
  float: right;
  display: flex;
  height: 130px;
  align-items: center;
}
.header .menu li {
  display: inline-block;
  padding-right: 20px;
}
.header .menu li a {
  color: black;
  letter-spacing: 2px;
  position: relative;
}
.header .menu li a:hover {
  color: #0000ff;
}
.header .menu li a:before {
  position: absolute;
  bottom: -10px;
  left: 0;
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #0000ff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header .menu li a:hover:before {
  width: 100%;
  color: #0000ff;
  opacity: 0.6;
}
.header .menu li .active {
  color: #0000ff;
}

/* about */
.about, .row > * {
  padding-left: 0;
  padding-right: 0;
}

.about {
  height: 890px;
  margin-top: 130px;
  font-weight: 300;
}
@media screen and (max-width: 992px) {
  .about {
    height: 990px;
  }
}
.about .inner-layer {
  background: #e2d5c8;
}
@media screen and (max-width: 992px) {
  .about .inner-layer {
    margin-top: 120px;
    width: 100%;
    height: 870px;
  }
}
.about .outer-layer {
  margin-top: 235px;
  padding-left: 20px;
}
@media screen and (max-width: 992px) {
  .about .outer-layer {
    margin-top: 3px;
  }
}
.about .outer-layer .card {
  width: 375px;
  height: 520px;
  background: #f2e9e3;
}
@media screen and (max-width: 992px) {
  .about .outer-layer .card {
    width: 340px;
    height: 480px;
  }
}
.about .outer-layer .card img {
  max-width: 220px;
  max-height: 220px;
  border-radius: 50%;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}
.about .outer-layer .card .line {
  width: 45px;
  height: 2px;
  background: #0000ff;
}
.about .outer-layer .card .card-text {
  letter-spacing: 0.2em;
}
.about .outer-layer .card .card-footer a {
  transition: 1s;
  color: black;
}
.about .outer-layer .card .card-footer a:hover {
  font-size: 30px;
  transition: 1s;
}
.about .about-content {
  padding-left: 35px;
}
.about .about-content h1 {
  padding-top: 50px;
}
@media screen and (max-width: 992px) {
  .about .about-content h1 {
    padding-top: 30px;
  }
}
.about .about-content .my-articles {
  width: 100%;
  height: 60px;
  margin: 24px 0 45px;
}
@media screen and (max-width: 992px) {
  .about .about-content .my-articles {
    margin: 8px 0 35px;
  }
}
.about .about-content .my-articles .articles-box {
  display: flex;
}
.about .about-content .my-articles .articles-box a {
  border: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  color: #fff;
  background: gray;
  padding: 17px 40px;
  font-weight: 700;
  font-family: "Oleo Script", cursive;
}
@media screen and (max-width: 992px) {
  .about .about-content .my-articles .articles-box a {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}
.about .about-content .my-articles .articles-box a span {
  position: relative;
  z-index: 1;
}
.about .about-content .my-articles .articles-box a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 140%;
  height: 490%;
  background: #e2d5c8;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}
.about .about-content .my-articles .articles-box a:hover::after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
.about .scroll-contents {
  padding-top: 42px;
}
.about .scroll-contents .header-scroll {
  animation: reveal 1s ease-out 1.5s backwards;
}
.about .scroll-contents .header-scroll span {
  margin: 0 1px;
  display: inline-block;
  animation: scrollBob 8s ease-in-out infinite;
  color: #919795;
  font-size: 11px;
  font-family: serif;
}
.about .scroll-contents .header-scroll span:first-child {
  animation-delay: 3.0725s;
}
.about .scroll-contents .header-scroll span:nth-child(2) {
  animation-delay: 3.145s;
}
.about .scroll-contents .header-scroll span:nth-child(3) {
  animation-delay: 3.2175s;
}
.about .scroll-contents .header-scroll span:nth-child(4) {
  animation-delay: 3.29s;
}
.about .scroll-contents .header-scroll span:nth-child(5) {
  animation-delay: 3.3625s;
}
.about .scroll-contents .header-scroll span:nth-child(6) {
  animation-delay: 3.435s;
}
.about .scroll-contents .column-line {
  width: 1px;
  height: 20vh;
  background: #8994b7;
  opacity: 0.45;
  animation: vLineIn 1s ease-in-out 1.5s backwards;
  margin: 15px 0 0 33px;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
}
@keyframes scrollBob {
  0%, 10% {
    transform: none;
    opacity: 1;
    color: #929895;
  }
  1%, 8% {
    transform: translateY(-2px);
    color: var(--fill);
  }
  4% {
    transform: translateY(3px);
    opacity: 1;
    color: #c7e4ec;
  }
}
@keyframes vLineIn {
  0% {
    transform: scaleY(0);
  }
}
/* experience */
.experience {
  position: relative;
  width: 100%;
  height: 920px;
  margin-top: 100px;
  color: #fff;
  text-shadow: 5px 4px 5px #575353;
  background-image: url(../img/w642.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
@media screen and (max-width: 992px) {
  .experience {
    margin-top: 0;
  }
}
.experience h1 {
  letter-spacing: 0.1em;
}
.experience .timeline-section {
  position: relative;
}
.experience .timeline-section .timeline-pointer {
  position: relative;
  margin: 0 180px;
}
@media screen and (max-width: 992px) {
  .experience .timeline-section .timeline-pointer {
    margin: 40px 0;
  }
}
.experience .timeline-section .timeline-pointer .working-date {
  color: #25dc46;
}
.experience .timeline-section .timeline-pointer p {
  text-align: justify;
  font-size: 15px;
}
.experience .timeline-section .timeline-pointer::after {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  z-index: 1;
}
.experience .timeline-section .odd-align {
  text-align: end;
  padding-right: 48px;
}
@media screen and (max-width: 992px) {
  .experience .timeline-section .odd-align {
    text-align: left;
    padding: 0 25px;
  }
}
.experience .timeline-section .odd-align p {
  padding-left: 48px;
}
@media screen and (max-width: 992px) {
  .experience .timeline-section .odd-align p {
    padding-left: 0;
  }
}
.experience .timeline-section .even-align {
  display: flex;
  flex-direction: row-reverse;
  padding-left: 48px;
}
@media screen and (max-width: 992px) {
  .experience .timeline-section .even-align {
    padding: 0 25px;
    display: flex;
    flex-direction: row;
  }
}
.experience .timeline-section .even-align p {
  padding-right: 48px;
}
@media screen and (max-width: 992px) {
  .experience .timeline-section .even-align p {
    padding-right: 0;
  }
}
.experience .timeline-section::after {
  width: 2px;
}
.experience .bbox {
  position: absolute;
  width: 520px;
  height: 110px;
  background: #677480;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .experience .bbox {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .timeline-section::after,
  .timeline-pointer::after {
    display: none;
  }
}
/* projects */
.projects {
  padding-top: 100px;
  width: 100%;
  height: 700px;
  background: #677480;
  overflow-y: scroll;
}
@media screen and (max-width: 992px) {
  .projects {
    padding-top: 30px;
  }
}
.projects::-webkit-scrollbar {
  display: none;
}
.projects .project-info {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.projects .project-info * {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.projects .project-info img {
  width: 100%;
  height: 100%;
}
.projects .project-info:hover img {
  opacity: 0.8;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.projects .project-info p {
  position: absolute;
  left: 5px;
  bottom: 5px;
  opacity: 0;
  color: #fbf9f9;
  font-weight: 400;
  text-shadow: 5px 4px 5px #575353;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}
.projects .project-info:hover p {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

/* skills */
.skills {
  width: 100%;
  height: 920px;
  background-image: linear-gradient(to top, #ffebe0 0%, #677480 100%);
}
@media screen and (max-width: 992px) {
  .skills {
    Height: 100%;
    padding-bottom: 30px;
  }
}
.skills h1 {
  letter-spacing: 0.1em;
  color: #fff;
  text-shadow: 5px 4px 5px #575353;
}
.skills .skill-list {
  width: 13rem;
  height: 13rem;
  background: #fff;
  border-radius: 20px;
  position: relative;
  text-align: center;
  margin: 30px auto 0;
  padding-top: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@media screen and (max-width: 768px) {
  .skills .skill-list {
    width: 100%;
  }
}
.skills .skill-list img {
  width: 9rem;
  height: 9rem;
  margin: 9px 0;
}
.skills .skill-list p {
  width: 13rem;
  position: absolute;
  background: rgba(52, 52, 52, 0.5);
  color: #fff;
  bottom: 0;
  border-radius: 20px;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* default */
  height: 0;
  overflow: hidden;
}
@media screen and (max-width: 576px) {
  .skills .skill-list p {
    width: 100%;
  }
}
.skills .skill-list i {
  font-size: 10rem;
}

/* footer */
.footer {
  width: 100%;
  height: 110px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .copyright {
  font-size: 14px;
  color: #616161;
}

/* burger menu */
.offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.site-mobile-menu {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: #fff;
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: right;
  padding-right: 20px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close i {
  float: right;
  margin-top: 8px;
  font-size: 30px;
  cursor: pointer;
}
.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 20px;
  height: 100vh;
}
.site-mobile-menu .site-mobile-menu-body .menu-body-li {
  display: block;
  padding-bottom: 20px;
  font-size: 20px;
  color: #212529;
  letter-spacing: 1px;
}

/* mask */
.mask {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 49;
  background: rgba(7, 17, 27, 0.3);
}

/*# sourceMappingURL=all.css.map */
/* sass ./scss/all.scss ./css/all.css */
