html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, img{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
  text-decoration: none;
}

a{
  text-decoration: none;
  color: black;
}

b, strong{
  font-weight: normal;
}
